
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="aboutus.css">
</head>
<body>
	<h1>ABOUT US</h1>
	<p>Hostel Management System is a desktop application aimed to manage hostel and all the related clerical work. Objective Hostel Management System is application software which aims at the computerization of hostel management letting the complete process of allotment and its management be dependent on computer. Without computers, everything goes on registers causing a lot of paper work with very less efficiency, which is where this software can dramatically improve the overall management. Our purpose in developing this software application was to provide a very simple interface to the requirement that will be easy to navigate and operate, proper record keeping and reporting, and an application that can be implemented on desktop or client-server architecture.
This management system is developed in favor of the hostel management team which helps them to save the records of the students about their room and other things. It helps them from the manual work from which it is very difficult to find the record of the students and information about those ones who had left the hostel years before. This solution is developed on the plight of hostel management team, through this they cannot require so efficient person to handle and manage the affairs of the students in the hostel, all we need to do is to login as administrator and we can see the information of all students who have obtained and register their hostel form, click verify to ascertain their eligibility and allocate them to the available room.

</p>
<h1>ADMIN INFO</h1>
<p>1.Afsana Nowrin</p>

<h1>CONTACT US</h1>
<p>Tel:071-61230</p>
<p>Mob:016XXXXXXX</p>
<p>email:afsananowrin96@gmail.com</p>
</body>
</html>